input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.input-with-help div:first-of-type{
  width:90%
}

.input-with-help .buttonControl-group{
  margin-top: 40px;
  margin-left: 20px;
}

.input-with-help .buttonControl-group span.topic{
  float:right;
}
